.App {
  font-family: "Orbitron", sans-serif;
  text-align: center;
}

.Nav-link {
  padding: 2rem;
}

.nav-item {
  margin-top: 4rem;
}
.App > div > a {
  font-size: 2rem;
  text-decoration: none;
  color: #5b12b3;
}
